/*-- base content --*/

body {
    background-color: #fafafa;
}

.preloader-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    z-index: 9999;
    background-color: white;
}

nav .brand-logo {
    font-size: 1.1rem;
}

.brand-logo {
    font-family: 'Langar', cursive;
    margin-left: 1rem;
    text-shadow: 2px 2px #b8860b;
}

.sidenav {
    background-color: #37474f;
    margin-top: 50px;
    margin-left: 2px;
    height: 50%;
}

.sidenav li a {
    color: #ffffff;
}

.flash-message {
    color: red;
}

main {
    padding-bottom: 2.5rem;
}

/*-- homepage --*/

#popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.content {
    min-height: 100vh;
}

.callout-container {
    background: url(/static/images/jumbotron_image.png) no-repeat center center fixed;
    padding: 30px 15px;
}

.callout {
    padding: 0;
}

.jumbotron-header {
    padding: 5px;
    font-size: 2rem;
    text-shadow: 3px 3px #dedede;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.signup {
    font-size: 1.2rem;
    border-radius: 10px;
    height: 40px;
    line-height: 40px;
}

.maps-header {
    font-size: 2rem;
}

.maps-para {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8rem;
    color: #121212;
    margin: 15px 10px;
}

#map {
    min-height: 360px;
    margin-top: 40px;
}

.welcome-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: 500;
}

.expenses-container {
    background-color: #fff8dc;
    box-shadow: 5px 5px 5px 5px #979797;
    padding: 30px 20px;
    margin: 1.5rem auto;
}

/*-- login page --*/

.login-heading,
.registration-heading {
    font-size: 3.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.input-field label {
    color: #333222;
}

/*-- registration page --*/

.registration,
.sign-in {
    margin: 30px 40px;
    /* border: 2px solid #676767;
    border-radius: 10px;
    background-color: #fefefe; */
}

.complete-registration,
.complete-login {
    border-radius: 10px;
}

/*-- my expenses page --*/

.expense-record {
    padding: 10px 5px;
    border-bottom: 2px solid #333222;
}

.expense-record i,
.expense-totals i {
    font-size: 1.4rem;
}

.total {
    font-size: 1.6rem;
    font-weight: 500;
}

/*-- footer --*/

.page-footer {
    /* height: 10.3rem; */
    /* position: absolute;  */
    text-align: center;
    bottom: 0;
    left: 0;
    background-color: #000555;
    color: #ffffff;
    width: 100%;
    padding-top: 10px;
}

.info-container {
    margin-left: 20px;
    margin-right: 20px;
}

.info-container h6 {
    font-size: 1rem;
}

.info-container address {
    font-size: 0.8rem;
}

.page-footer a {
    color: #ffffff;
}

.page-footer a:hover {
    text-decoration: underline;
}

.social-media-header {
    text-align: center;
}

.social-media-links {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: auto;
}

.social-media-links li {
    padding-right: 10px;
}

.footer-list-item {
    display: inline-block;
}

.copyright-info {
    padding-bottom: 10px;
    margin-top: -10px;
}

.copyright {
    font-size: 0.8rem;
}

/*-- media queries --*/

@media screen and (min-width: 320px) {
    nav .brand-logo {
        font-size: 1.2rem;
    }

    .callout {
        padding: 0;
    }

    .jumbotron-header {
        font-size: 2.2rem;
        padding: 5px;
    }

    .signup {
        font-size: 1.4rem;
        height: 45px;
        line-height: 45px;
    }
}

@media screen and (min-width: 360px) {
    nav .brand-logo {
        font-size: 1.6rem;
    }

    main {
        padding-bottom: 4rem;
    }

    .callout {
        padding: 0;
    }

    .jumbotron-header {
        font-size: 2.4rem;
        padding: 10px;
    }

    .maps-para {
        font-size: 1rem;
    }

    .info-container h6 {
        font-size: 1.1rem;
    }

    .info-container address {
        font-size: 0.9rem;
    }

    .social-media-links {
        margin-top: 0;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 411px) {
    nav .brand-logo {
        font-size: 1.8rem;
    }

    .maps-header {
        font-size: 2.4rem;
    }
}

@media screen and (min-width: 540px) {
    nav .brand-logo {
        font-size: 2.3rem;
    }

    main {
        padding-bottom: 5rem;
    }

    .callout {
        padding: 5px 5px 0;
    }

    .jumbotron-header {
        font-size: 3.6rem;
        padding: 15px;
    }

    .signup {
        font-size: 1.8rem;
        height: 55px;
        line-height: 55px;
    }

    .maps-header {
        font-size: 2.5rem;
    }

    .maps-para {
        font-size: 1.1rem;
    }

    .info-container h6 {
        font-size: 1.15rem;
    }
}

@media screen and (min-width: 768px) {
    main {
        padding-bottom: 7.5rem;
    }
    
    .callout-container {
        padding: 30px 15px 60px;
    }

    .callout {
        padding: 30px 10px 0;
    }

    .jumbotron-header {
        font-size: 5rem;
        padding: 15px;
    }

    .signup {
        font-size: 2rem;
        height: 65px;
        line-height: 65px;
    }

    .info-container address {
        font-size: 1rem;
    }

    .social-media-links {
        margin-top: 0;
        font-size: 1.6rem;
    }
    
    .registration {
        margin: 40px 50px 30px 50px;
    }
}

@media screen and (min-width: 992px) {
    .body-address {
        margin-top: 100px;
    }
    
    .maps-para {
        margin: 15px 20px 15px 0px;
    }
    
    .registration {
        margin: 50px 70px 50px 70px;
    }

    .page-footer {
        text-align: left;
    }
}