/*-- base content --*/

body {
    background-color: #fafafa;
}

.preloader-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    z-index: 9999;
    background-color: white;
}

.brand-logo {
    font-family: 'Langar', cursive;
    margin-left: 1rem;
    text-shadow: 2px 2px #b8860b;
}

.sidenav {
    background-color: #37474f;
    margin-top: 50px;
    margin-left: 2px;
    height: 50%;
}

.sidenav li a {
    color: #ffffff;
}

.flash-message {
    color: red;
}

main {
    padding-bottom: 10.3rem;
}

/*-- homepage --*/

.content {
    min-height: 75vh;
}

.callout-container {
    background: url(/static/images/jumbotron_image.png) no-repeat center center fixed;
    padding: 30px 15px;
}

.callout {
    padding: 30px 10px 0px;
}

.jumbotron-header {
    padding: 15px;
    font-size: 5rem;
    text-shadow: 3px 3px #dedede;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.signup {
    font-size: 2rem;
    border-radius: 10px;
    height: 65px;
    line-height: 65px;
}

.welcome-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: 500;
}

.expenses-container {
    background-color: #fff8dc;
    box-shadow: 5px 5px 5px 5px #979797;
    padding: 30px 20px;
    margin: 1.5rem auto;
}

/*-- login page --*/

.login-heading,
.registration-heading {
    font-size: 3.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.input-field label {
    color: #333222;
}

/*-- registration page --*/

.registration,
.sign-in {
    margin: 30px 40px;
    /* border: 2px solid #676767;
    border-radius: 10px;
    background-color: #fefefe; */
}

.complete-registration,
.complete-login {
    border-radius: 10px;
}

/*-- my expenses page --*/

.expense-record {
    padding: 10px 5px;
    border-bottom: 2px solid #333222;
}

.expense-record i,
.expense-totals i {
    font-size: 1.4rem;
}

.total {
    font-size: 1.6rem;
    font-weight: 500;
}

/*-- footer --*/

.page-footer {
    height: 10.3rem;
    /* position: absolute;  */
    bottom: 0;
    left: 0;
    background-color: #000555;
    color: #ffffff;
    width: 100%;
    padding-top: 10px;
}

.info-container {
    margin-left: 20px;
    margin-right: 20px;
}

.page-footer a {
    color: #ffffff;
}

.page-footer a:hover {
    text-decoration: underline;
}

.social-media-links {
    font-size: 1.6rem;
    margin-top: 0;
}

.social-media-links li {
    padding-right: 10px;
}

.footer-list-item {
    display: inline-block;
}

.copyright-info {
    padding-bottom: 10px;
    margin-top: -10px;
}

.copyright {
    font-size: 0.8rem;
}

/*-- media queries --*/

@media screen and (min-width: 768px) {
    .registration {
        margin: 40px 50px 30px 50px;
    }
}

@media screen and (min-width: 992px) {
    .registration {
        margin: 50px 70px 50px 70px;
    }
}