{% extends "base.html" %}
{% block content %}

    <div class="content">
        {% if session.user %}
            <h1 class="welcome-heading">Welcome, {{ session.user }}</h1>
            
            <h5>Here are your most recent transactions</h5>

            {% for expense in expenses if session.user|lower == expense.created_by|lower %}
                <div class="container expenses-container">
                    <div class="row">
                        <div class="col s6 m3">
                            <span>{{ expense.date }}</span>
                        </div>
                        <div class="col s6 m3">
                            <span>{{ expense.category_name }}</span>
                        </div>
                        <div class="col s6 m3">
                            <span>{{ expense.expense_description }}</span>
                        </div>
                        <div class="col s6 m3">
                            <span>GBP {{ expense.expense_amount }}</span>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <h4>You have no expenses yet.</h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="container">
                <div class="row">
                    <div class="col s6">
                        <a href="{{ url_for('new_expense') }}" class="btn-large green right">Create New Expense</a>
                    </div>
                    <div class="col s6">
                        <a href="{{ url_for('my_expenses', username=session['user']) }}" class="btn-large teal left">View All Expenses</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="callout-container">
                <div class="row">
                    <div class="col s12">
                        <section class="callout">
                            <h1 class="jumbotron-header">The easiest way to track your spending</h1>
                            <a href="{{ url_for('register') }}" class="btn-large signup">Sign up now&#33;</a>       
                        </section>
                    </div>
                </div>
            </div>
            <!-- Google Maps API -->
            <div class="maps-container">
                <div class="row">
                    <div class="col s12">
                        <h1>Where to Find Us</h1>
                    </div>
                </div>
                <hr class="hr-dotted">
                <div class="row">
                    <div class="col m4">
                        <p class="maps-para"><i class="fas fa-map-marker-alt"></i> 93 Crown Street 
                            <br>
                            London
                            <br>
                            SW5 7NL
                        </p>
                        <p class="maps-para"><i class="fas fa-phone-square"></i> &#40;078&#41; 11 033 461</p>
                        <p class="maps-para"><i class="fas fa-at"></i> <a href="mailto:info@budgethelper.com">info&#64;budgethelper.com</a></p>
                        <p class="maps-para"><i class="fas fa-door-open"></i> Open Mon-Sun 6am - midnight</p>
                    </div>
                    <div class="col m8">
                        <div id="map">

                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}