{% extends "base.html" %}
{% block content %}

<div class="center-align">
    <h2>{{ username }}'s Profile</h2>

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h5 class="left">My Account</h6>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <p>Username &#58; <span>{{ username }}</span></p>
                <a href="{{ url_for('update_profile', username=username) }}" class="btn-large blue">Update Details</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <h3 class="left">Set Budgets</h3>
        </div>
    </div>

    <div class="expenses-container">
        {% for category in categories %}
            <div class="row">
                <div class="col s9">
                    <form action="{{ url_for('set_budgets', username=username) }}" method="POST">
                            <div class="row">
                                <div class="input-field col s4">
                                    <select id="category_name" name="category_name" class="validate" required>
                                        <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                                    </select>
                                </div>
                                <div class="input-field col s4">
                                    <input id="budget_amount" name="budget_amount" type="number" min="0.01" step="any" class="validate" placeholder="GBP(£)">
                                    <label for="budget_amount">Amount</label>
                                </div>
                                <div class="col s4">
                                    <button type="submit" class="btn-large green">SET</button>
                                </div>
                            </div>
                    </form>
                </div>
                <div class="col s3">
                    <span>Your budget for {{ category.category_name }} is &#163;{{ budget }}</span>
                </div>
            </div>
        {% endfor %}
    </div>

    <h3 class="left">Remaining Budgets</h3>

    {% for category in categories %}
        <div class="row">
            <div class="col s12">
                <p>You have &#163;{{ remaining_budget }} remaining for {{ category.category_name }}</p>
            </div>
        </div>
    {% endfor %}

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="left">Delete Account</h3>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <p>Delete the account for {{ username }}</p>
                    <button class="btn-large red" onclick="confirmDeletion()">Delete Account</button>
                    <div id="popup">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}