{% extends "base.html" %}
{% block content %}

    <form class="registration" method="POST" action="{{ url_for('register') }}">
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <input id="username" name="username" type="text" minlength="4" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                <label for="username">Username</label>
            </div>
            <div class="input-field col s6 offset-s3">
                <input id="email" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="validate" required>
                <label for="email">Email address</label>
            </div>
            <div class="input-field col s6 offset-s3">
                <input id="password" name="password" type="password" minlength="8" maxlength="25" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row center-align">
            <div class="col s6 offset-s3">
                <button type="submit" class="btn-large green darken-2 complete-registration">
                    Create free account&#33;
                </button>
            </div>
        </div>
    </form>

    <div class="row center-align">
        <div class="col s6 offset-s3">
            <h4>Already have an account&#63; Log in <a href="{{ url_for('login') }}">here</a>.</h4>
        </div>
    </div>

{% endblock %}